body {
    background: #edeaff;
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: italic;
}
.stopwatch {
    width: 90%;
    max-width: 600px;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url('stopwatch_img/images/background.png');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 40px 0;
    color: #fff;
    margin: 30px auto 0;
    box-shadow: 0 10px 10px rgba(0,0,0,0.2);
}
.stopwatch span {
    margin-top: 60px;
    font-size: 64px;
    font-weight: 300;
}
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons img {
    width: 50px;
    margin: 0 20px;
    cursor: pointer;
}